@import 'reset'; // will import CSS as well as sass

// ------------------------------------------- parallex 
input{
    border-radius: 10px;
    padding:10px;
    margin:10px 0px;
}


.output{
    margin-bottom:10px;
}

#container {
    max-width:960px;
    margin:0 auto;
    background: #f9f9f9;
    font-size:24px;
    padding:25px; 

    .parrallax {
        background: url('pokemon_top.png') no-repeat center;
        background-size:cover;
        background-attachment: fixed;
        height: 500px;
    }

    .box{
        width:80%;
        height:auto;
        min-height: 500px;
        margin:0 auto;
        text-align:center;

        .logo{
            display:inline-block;
            width:300px;
            height:150px;
            background: url('logo.png') no-repeat center;
            background-size: contain;
            transform: rotate(-10deg);
        }

        h1{
            display:inline-block;
            font-size: 30px;  
        }

        .left-col{
            display:inline-block;
            width: 40%;
            height:auto;
            min-height: 200px;
            text-align:left;
            padding: 5px 10px;

            p {
                padding:5px;
                margin-bottom:40px;
            }
        }
        .right-col{
            display:inline-block;
            border-left:1pt solid #eee; 
            width: 40%;
            height:auto;
            min-height: 200px;
            text-align:center; 
        
            #text_area{
                padding:0px 5px;
                overflow:scroll;
                height:200px;
                font-size:12px;
            }
        }
    }
}